<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A-Brand Scraper Produse</title>
</head>
<body>
    <h1>A-Brand Scraper Produse</h1>
    <form method="post">
        <label for="product_code">Extrage informatii despre articolul cu urmatorul cod produs/articol :</label>
        <input type="text" id="product_code" name="product_code" required>
        <button type="submit">Extrage</button>
    </form>
</body>
</html>
